<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChasquiFarma</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Mamá & bebé</a>
            <a href="#">Bienestar</a>
            <a href="#">Dermocosmetologia</a>
            <a href="/logout">Logout</a>
        </nav>
        <section class="textos-header">
            <h1>ChasquiFarma tienda en linea</h1>
            <h2>Productos de cuidado y limpieza personal</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Sobre nosotros</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3></h3>
                    <p>Nosotros estamos comprometidos con todos los peruanos y con su salud intentando mejorar tanto nuestros precios como nuestra empresa, 
                        ser mejores cada dia es un reto que nosotros debemos asumir.</p>

                    <p>Aqui encontraras los productos de la mejor calidad que existe en el mercado Peruano actualmente.</p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptates repellat dolores tenetur minima nihil soluta itaque deserunt. 
                        Veniam molestias nisi reprehenderit, officiis libero fugit quod quasi nesciunt rerum voluptatum?</p>
                    
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Ofertas</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x2_Cuidado-adulto_inka_web_regular_x2_Cuidado-adulto_01.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x2_Cuidado-adulto_inka_web_regular_x2_Cuidado-adulto_03.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x3_Farmacia_inka_web_regular_x3_Farmacia_01.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x3_Farmacia_inka_web_regular_x3_Farmacia_03.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x3_Farmacia_inka_web_regular_x3_Farmacia_05.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x3_Farmacia_inka_web_regular_x3_Farmacia_05.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x3_Farmacia_inka_web_regular_x3_Farmacia_05.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/inka_web_regular_x3_Farmacia_inka_web_regular_x3_Farmacia_05.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Productos en tendencia</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/200089168_fotofondoblanco.webp" alt="">
                    <div class="contenido-texto-card">
                        <h4>Perfume de mujer Sweet Black</h4>
                        <p>Perfume con aroma oriental dulce de máxima calidad y larga duración.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/unabaseserum3737.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Base Sérum Nude Me Una</h4>
                        <p>Base serum que une acabado natural a una piel revitalizada</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Servicio que otorgamos</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/ilustracion1.svg" alt="">
                        <h3>Ventas</h3>
                        <p>Vendemos productos de cuidado y limpieza personal.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/ilustracion4.svg" alt="">
                        <h3>Atencion al cliente</h3>
                        <p>Otorgamos atencion personalizada nuestros clientes para que se puedan ir satisfechos con su compra.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/ilustracion3.svg" alt="">
                        <h3>Web</h3>
                        <p>Otorgamos un servicio 100% digital para que no tenga que salir de casa.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>912119023</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>ChasquiFarma@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>CUADRA 8-SJM</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; WinterC Design | Christopher Arcelles</h2>
    </footer>
</body>

</html>